<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <!-- Open Graph Tags -->
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<%= ogImage %>">
  <meta property="og:url" content="<%= ogUrl %>">
  <meta property="og:type" content="website">
  <!-- Twitter Card Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image" content="<%= ogImage %>">
  <!-- Adobe Typekit -->
  <link rel="stylesheet" href="https://use.typekit.net/pjv8cze.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Self-hosted Font Awesome -->
  <link href="/fontawesome/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body class="<%= currentPage %>">